.addform{
    background-color: white;
    text-align: left;
    position: relative;
    display: block;
    width: 500px;
    min-height: 500px;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    left: 33%; 

}