.title{
  background-color:  rgba(205, 228, 101, 0.674);
  color: rgb(255, 255, 255);
  width: 100%;
  margin-left: 0cm;
  

}

.space{
  text-align: center;
}
.sub{
  margin: 2%;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  
  float:left;
  justify-content: space-around;
margin: 30px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(139, 124, 124, 0.959);
  border-radius: 80px;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 35px;
  font-family: Arial, Helvetica, sans-serif;

}

.flip-card-front {
  background: linear-gradient(90deg, #54E38E 10%, #41C7Af 60%);
  color: #fff;

}

.flip-card-back {
  /* background-color: #888f94; */
  background: linear-gradient(90deg, #54E38E 10%, #41C7Af 60%);
  color: white;
  transform: rotateY(180deg);
}
/* p {
  font-size: 1.5em;
} */
.mo {
  font-size: 2em;
}
.pack{
  background-color:  rgba(255, 255, 255, 0.76);
  color: rgb(7, 0, 0);
  padding: 20px 20px 20px 20px;
  border-radius: 3%;

}
